body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ceeaff;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./clouds-sunset-sundown-sun-80399.jpeg");
}
#DetailsText {
  min-height:50px;
  min-width: 150px;
}
